.page-footer {
  background-color: var(--page-bgcolor);

  &__title {
    margin-bottom: 20px;

    font-weight: 700;
    text-transform: uppercase;

    color: var(--page-color-first);
  }
  &__box {
    text-align: center;
  }

  &__social-links {
    margin-bottom: 60px;
  }
}
.address-box {
  margin-bottom: 60px;

  &__logo {
    margin-bottom: 20px;
    padding: 0 0;
  }
}
@media screen and (min-width: 768px) {
  .page-footer__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    &__social-links {
      margin-bottom: 0;
    }
    &__box {
      justify-content: space-between;
      align-items: baseline;

      text-align: left;
    }
  }
  .address-box {
    margin-bottom: 0;
  }
}
