.page-header {
  padding-top: 0;
  padding-bottom: 0;

  border-bottom: 1px solid rgb(236, 236, 236);

  &__box {
    display: flex;

    align-items: center;
  }
  &__nav {
    display: none;
    margin-left: 93px;
  }
  &__contacts {
    display: none;
    margin-left: auto;
  }
}
// @media screen and (max-width: 768px) {
//   .page-header__nav {
//     display: none;
//   }
//   .page-header__contacts {
//     display: none;
//   }
// }
