.social-list {
  display: flex;
  justify-content: center;

  &__item:not(:first-child) {
    margin-left: 10px;
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50% 50%;

    fill: rgb(175, 177, 184);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      fill: var(--page-color-first);
      background-color: var(--page-color-second);
    }

    &--design {
      border-radius: 50% 50%;
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
  &__icon {
    width: 20px;
    height: 20px;

    &--fill {
      fill: var(--page-color-first);
    }
  }
}
