.page {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--page-text-color);
}
.text-style {
  margin-top: 0;
  margin-bottom: 0;
}
.lists-style {
  list-style: none;

  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.pics-style {
  display: block;
  width: 100%;
  height: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
